{% extends "base.html" %}

{% block content %}

<h3><a href="{% url 'create' %}" class="text-blue-500">CREATE</a></h3>

{% for listing in listings %}

<div class="mt-2 px-3 py-2 bg-gray-100 rounded-sm">
    <h3 class="text-3xl text-gray-900">{{ listing.name }}</h3>
    <img src="{{ listing.image.url }}" alt="" />
    <a href="{% url 'retrieve' listing.pk %}" class="text-blue-500">
        READ
    </a>
    <a href="{% url 'update' listing.pk %}" class="text-blue-500">
        UPDATE
    </a>
    <a href="{% url 'delete'  listing.pk %}" class="text-blue-500">
        DELETE
    </a>
</div>

{% endfor %}

{% endblock content %}
